### bluej ###
# BlueJ: A Java IDE for programming beginners. http://bluej.org

# Editor preferences for a class etc, see http://lists.bluej.org/pipermail/bluej-discuss/2003-May/002351.html
*.ctxt

# Duplicate of project file, see http://www.hs-owl.de/fb5/labor/it/de/if1/vl/IF1JavaOhneBluej.pdf, page 4
bluej.pkh

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### vscode ###
!.vscode/settings.json
!.vscode/extensions.json
Greenfoot/Einstieg/little-crab/greenfoot/World.java
Greenfoot/Einstieg/little-crab/greenfoot/UserInfo.java
Greenfoot/Einstieg/little-crab/greenfoot/MouseInfo.java
Greenfoot/Einstieg/little-crab/greenfoot/GreenfootSound.java
Greenfoot/Einstieg/little-crab/greenfoot/GreenfootImage.java
Greenfoot/Einstieg/little-crab/greenfoot/Greenfoot.java
Greenfoot/Einstieg/little-crab/greenfoot/Font.java
Greenfoot/Einstieg/little-crab/greenfoot/Color.java
Greenfoot/Einstieg/little-crab/greenfoot/Actor.java
